<template name="adminAllBooks">
  {{#if Template.subscriptionsReady}}
      <table class="ui bottom center aligned attached segment compact striped single line selectable table">
        <thead>
          <tr>
            <th>Book</th>
            <th>Categories</th>
            <th>Live</th>
            <th>View</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {{#each books}}
            <tr>
              <td>
                <span>{{title}} by {{authorName}}</span>
              </td>
              <td>
                {{categories}}
              </td>
              <td>
                {{live}}
              </td>
              <td>
                <a href="/books/{{_id}}" class="ui icon button">View</a>
              </td>
              <td>
                <a href="/admin/edit/book/{{_id}}" class="ui icon button">Edit</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
  {{/if}}
</template>
