<template name="authenticatedNavigation">
    <span class="item {{currentRoute 'home'}}">
      <a href="{{pathFor 'home'}}">Home</a>
    </span>
    <span class="item {{currentRoute 'admin'}}">
      <a href="{{pathFor 'admin'}}">Admin</a>
    </span>
    <span class="item {{currentRoute 'signup'}}">
      <a href="{{pathFor 'signup'}}">signup</a>
    </span>
    <div class="ui dropdown item">
        {{currentUser.emails.[0].address}}
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item logout">Logout</a>
        </div>
    </div>
    <!--
    <span class="item {{currentRoute 'notifications'}}">
      <a href="{{pathFor 'notifications'}}"><i class="mail link icon"></i></a>
    </span>
     -->
</template>
