<template name="recoverPassword">
  <div class="ui grid">
    <div class="ui six wide column">
      <h4 >Recover Password</h4>
      <form  id="recover-password" class="ui form recover-password">
         <p class="alert alert-info">Enter your email address below to receive a link to reset your password.</p>
        <div class="field">
          <label>Email Address</label>
          <input type="email" name="emailAddress" placeholder="Email Address">
        </div>
        <button class="ui button" type="submit">Recover Password</button>
      </form>
    </div>
  </div>

</template>