<template name="resetPassword">
  <div class="ui grid">
    <div class="ui six wide column">
      <h4 >Reset Password</h4>
      <form  id="reset-password" class="ui form reset-password">
         <p class="alert alert-info">To reset your password, enter a new one below. You will be logged in with your new password.</p>
        <div class="field">
          <label>New Password</label>
         <input type="password" name="newPassword" placeholder="New Password">
        </div>
         <div class="field">
          <label>Repeat New Password</label>
         <input type="password" name="repeatNewPassword" placeholder="Password">
        </div>
        <button class="ui button" type="submit">Reset Password &amp; Login</button>
      </form>
    </div>
  </div>

</template>