<template name="adminEditBook">
  {{#with book }}
    <h2>Edit {{title}}</h2>
    <div class="ui grid">
      <div class="eight wide column">
        <form class="ui form" name="adminCreateBookForm">
          <div class="field">
            <label>Book Title</label>
            <input type="text" name="title" placeholder="Book Title" value="{{title}}">
          </div>
          <div class="field">
            <label>Short Description</label>
            <textarea name="shortDescription" rows="2">{{shortDescription}}</textarea>
          </div>
          <div class="field">
            <label>Book Description</label>
            <textarea name="description">{{description}}</textarea>
          </div>
          <div class="field">
            <label>Author</label>
            <select name="author" class="ui search selection dropdown">
              {{#each author}}
                <option value="{{_id}}">{{firstName}} {{lastName}}</option>
              {{/each}}
            </select>
          </div>
          <div class="field">
            <label>Published Date</label>
            <input id="publishDate" type="date" name="publishDate" placeholder="Published Date" value="{{publishDate}}">
          </div>
          <div class="field">
            <label>Book Front Cover Image URL</label>
            <input type="text" name="frontCoverURL" placeholder="Front Cover Image URL" value="{{frontCoverURL}}">
          </div>
          <div class="field">
            <label>Book Snippet URL</label>
            <input type="text" name="snippetURL" placeholder="Book Snippet URL" value="{{snippetURL}}">
          </div>
          <div class="field">
            <label>Amazon UK URL</label>
            <input type="text" name="amazonUKURL" placeholder="Amazon UK URL" vaulue="{{amazonUKURL}}">
          </div>
          <div class="field">
            <label>Categories</label>
            <select multiple="" name="categories" class="ui search selection dropdown">
              {{#each category}}
                <option {{categorySelected}} value="{{_id}}">{{title}}</option>
              {{/each}}
            </select>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input name="editorsPicks" type="checkbox" {{editorPicksChecked}} tabindex="0" class="hidden">
              <label>Editors Picks</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input name="live" type="checkbox" {{liveChecked}} tabindex="0" class="hidden">
              <label>Live</label>
            </div>
          </div>
          <input class="ui blue button" name="submit" type="submit" value="Save Edits">
          <input class="ui red button" name="delete" type="submit" value="Delete Book">
        </form>
      </div>
    </div>
  {{/with}}
</template>
