<template name="header">
	<!--<nav class="navbar navbar-default" role="navigation">-->
	<div class="row">
		<div class="ui sixteen wide column">
			<div class="ui segment">
				<div class="ui secondary pointing menu">
					<div class="header item">
						Application Name
					</div>
					<div class="right menu">
						{{#if currentUser}}
						{{> authenticatedNavigation}}
						{{else}}
						{{> publicNavigation}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--</nav>-->
</template>
