<template name="categorySlider">
  <h3>Latest Books</h3>
  <div class="ui centered cards row">
    {{#each books}}
      <div class="three wide column">
        <div class="ui card">
          <div class="image">
            <img alt="" src="{{frontCoverURL}}">
          </div>
          <div class="content">
            <h4>{{title}}</h4>
            <div class="meta">
              <span>By {{authorName}}</span>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</template>
